{% extends 'base.html.twig' %}

{% block title %}AMIENS BC   club{% endblock %}

{% block body %}

<div class="table">
    <h1> bureau amiens boxing club </h1></div>
<table class="table">

  <tbody>
    
    <tr class="table-dark">
      <th scope="row">presidente:                   vanessa fouache </th>
         <tr class="table-dark">
      <th scope="row">vice president:                vincent dufrenoy</th>
       <tr class="table-dark">
      <th scope="row">secretaire:                     sabine  fouache</th>
         <tr class="table-dark">
      <th scope="row">tresosier:                       thomas  hamidi</th>
       <tr class="table-dark">
      <th scope="row">membre:                          steffi fouache</th>
       <tr class="table-dark">
      <th scope="row">membre:                          dupont  lucien </th>
       <tr class="table-dark">
      <th scope="row">cadre technique:                  jerome fouache</th>
      </tr>
  </tbody>
</table>





{% endblock %}
